<div id="list-<%= @list.name.parameterize %>" class="position-relative list-cover all-lists py-5" style="background-image: url(<%= url_for(@list.photo) if @list.photo.attached? %>);">
  <div class="container">
    <div class="card-category card-large text-center text-white">
      <h1 class="mb-3"><%= @list.name %></h1>
      <span class="movie-tag"><%= pluralize(@list.movies.size, 'movie') %></span>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="d-flex justify-content-between align-items-center my-4 text-white">
    <span class="mb-2 d-block"><small><em><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small></span>
    <div class="d-flex">
      <%= link_to '+ Add Movie', new_list_bookmark_path(@list), class: 'btn btn-success mr-2', style: "margin-right: 5px;" %>
      <%= button_to "Delete List", list_path(@list), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger", style: "margin-right: 5px;" %>
      <%= link_to '< Back to Lists', lists_path, class: 'btn btn-outline mr-auto' %>
    </div>
  </div>

  <div class="row my-2">
    <% @list.movies.each_slice(3) do |movies_slice| %>
      <div class="col-12">
        <div class="row">
          <% movies_slice.each do |movie| %>
            <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <div class="col-md-4 mb-4" data-aos="zoom-in">
              <div class="bg-white rounded shadow h-100">
                <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top img-fluid' %>
                <div class="p-3 rounded-bottom">
                  <strong><%= movie.title %> <span class="text-muted font-weight-normal"></span></strong>
                  <small class="text-muted d-block mb-3"><%= movie.overview %></small>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
                    </div>
                    <div>
                      <%= button_to "Remove", list_path(@list, bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
